<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.2.0/dist/av-min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
      .resize {
        resize: both;
        width: 45%;
      }
      .itemDiv {
        display: inline;
      }
    </style>
  </head>
  <body>
    <div id="app">
	<el-dialog
  title="给本本起个名字"
  :visible.sync="dialogVisible"
  width="30%"
  >
  <span>
  <el-input v-model="tableName" placeholder="请输入内容"></el-input>
  </span>
  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="saveTableName">确 定</el-button>
  </span>
</el-dialog>

      <el-tabs v-model="activeName">
        <el-tab-pane label="记事本" name="first">
		  <el-button type="success" plain @click="clearLocal">清除缓存</el-button>
          <el-button type="primary" plain @click="save">保存</el-button>
          <el-button type="success" plain @click="addTextarea">新增</el-button>
		  <br />
          <div class="itemDiv" v-for="(item, index) in list" :key="index">
            <textarea
              class="resize"
              type="textarea"
              :rows="7"
              v-model="item.str"
              @click="test(item)"
            ></textarea>
          </div>
        </el-tab-pane>
        <el-tab-pane label="管理" name="second">
          <el-table :data="list" style="width: 100%" height="700">
            <el-table-column fixed prop="id" label="ID" width="250">
            </el-table-column>
            <el-table-column prop="str" label="内容" width="500">
            </el-table-column>

            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>

         
      </el-tabs>
    </div>
  </body>

  <script>
    var { Query, User } = AV;
    AV.init({
      appId: "eTaQG9l8RSbLiknOykqBRck0-gzGzoHsz",
      appKey: "w02mIgOOh6NN29zjeLE809a8",
      serverURLs: "https://etaqg9l8.lc-cn-n1-shared.com"
    });

    UI = {
      init() {
        var ret = console.log(1);
        console.log(ret);
        return ret;
      },

      async search2(name) {
        var query = new AV.Query(name);
        return new Promise(function(resolve, reject) {
          query.find().then(function(data) {
            resolve(data);
          });
        });
      },
      /* 用户相关 */
      signIn(user) {
        var obj = new AV.User();
        obj.setUsername(user.name);
        obj.setPassword(user.password);
        return obj.signUp();
      },
      signUp(user) {
        return AV.User.logIn(user.name, user.password);
      },
      /* 统一封装的函数共用 */
      createObj(name, data) {
        var Obj = AV.Object.extend(name);
        var obj = new Obj();
        for (var key in data) {
          obj.set(key, data[key]);
        }
        return obj.save();
      },
      updateObj(name, id, data) {
        var obj = AV.Object.createWithoutData(name, id);
        for (var key in data) {
          obj.set(key, data[key]);
        }
        return obj.save();
      },

      search(name, skip, limit) {
        skip = skip || 0;
        limit = limit || 100;
        var query = new AV.Query(name);
        query.skip(skip); // 第一次跳过0 个 第二次跳过10个  (i -1) *10
        query.limit(limit); // 默认值100
        return query.find();
      },
      delObj(name, id) {
        var obj = AV.Object.createWithoutData(name, id);
        return obj.destroy();
      },
      async findByCondition(table, col, value) {
        try {
          let query = new AV.Query(table);
          query.equalTo(col, value);
          return new Promise(function(resolve, reject) {
            query.find().then(function(data) {
              resolve(data);
            });
          });

          return list;
        } catch (error) {
          console.error(error);
        }
      }
    };

    /*
     本页面逻辑
    */
    new Vue({
      el: "#app",
      data: function() {
        return {
          activeName: "first",
          item: {
            id: "",
            uid: 0,
            username: "",
            str: ""
          },
          oldList: [],
          list: [],
		  tableName:null,
		  dialogVisible: true,
          visible: false
        };
      },
      methods: {
        addTextarea() {
          this.list.push({
            id: "",
            uid: 0,
            username: "admin",
            str: ""
          });
        },
		clearLocal(){
		  localStorage.removeItem('tableName');
		  location.reload()
		},
		saveTableName(){
		  var pattern = /^[A-Za-z]+$/gi;
if (!pattern.test(this.tableName)){
          this.$message("仅支持全英文名");
		  return;
}
 
		  
		  localStorage.setItem('tableName', this.tableName);
		  this.dialogVisible=false
		},
        save() {
          var _this = this;
          var a = this.oldList;
          var b = this.list;
          var tmp = [];
		  
		  if(!this.tableName ){
		  this.dialogVisible=true;
		   return;
		  }
          for (var i = 0; i < a.length; i++) {
            if (a[i].str && b[i].str && a[i].str != b[i].str) {
              tmp.push(b[i]);
            }
          }
          tmp = tmp.concat(b.slice(a.length, b.length));
          for (var i = 0; i < tmp.length; i++) {
            if (tmp[i].id != "") {//update
              UI.updateObj(this.tableName, tmp[i].id, tmp[i]);
            } else { 
              UI.createObj(this.tableName, tmp[i]);
            }
          }

          this.$message("成功保存");
        },
        test(item) {},

        handleDelete(index, row) {
          UI.delObj(this.tableName, row.id).then(function(data) {});
          this.list.splice(index, 1);
        },
		getList(tableName){
		var _this = this;
		UI.search(tableName).then(function(data) {
          console.log(data);
          for (var i = 0; i < data.length; i++) {
            _this.list.push({
              id: data[i].id,
              uid: data[i].attributes.uid,
              username: data[i].attributes.username,
              str: data[i].attributes.str
            });
          }
          _this.oldList = JSON.parse(JSON.stringify(_this.list));
		  });
		}
      },

      mounted() {
        var _this = this;
		
		var tableName = localStorage.getItem('tableName');
		console.log("tableName",tableName)
		if(tableName &&tableName.length>0){
		  this.tableName=tableName
		  this.dialogVisible=false
		  this.getList(tableName)
        
		}
        
      }
    });
  </script>
</html>
