<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.2.0/dist/av-min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
      .data {
        display: inline-block;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <el-tabs v-model="activeName">
        <el-tab-pane label="元素" name="first">
          <span>
            关键词:
          </span>
          <input type="text" v-model="item.key" />
          <br />
          <span>
            内容:
          </span>
          <el-input type="textarea" :rows="7" v-model="value.value"></el-input>
          <input type="button" @click="save" value="保存" />
          <input type="button" @click="test" value="test" />
        </el-tab-pane>
        <el-tab-pane label="列表" name="second">
          列表
          <el-table :data="tableData" style="width: 100%" height="250">
            <el-table-column
              fixed
              prop="attributes.key"
              label="关键词"
              width="150"
            >
            </el-table-column>
            <el-table-column prop="attributes.title" label="内容" width="120">
            </el-table-column>

            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  @click="handleEdit(scope.$index, scope.row)"
                  >编辑</el-button
                >
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </div>
  </body>

  <script>
    var { Query, User } = AV;
    AV.init({
      appId: "eTaQG9l8RSbLiknOykqBRck0-gzGzoHsz",
      appKey: "w02mIgOOh6NN29zjeLE809a8",
      serverURLs: "https://etaqg9l8.lc-cn-n1-shared.com"
    });

    UI = {
      init() {
        var ret = console.log(1);
        console.log(ret);
        return ret;
      },
      async test() {
        // this.signIn({ name:"wz", password:"wz", })

        /// this.createObj('Todo', {  title: "wz",  content: "wz",  })

        // this.updateObj('Todo', '5e3783e27796d90078b3fcb3', {  title: 'wzzx' })
        var ret = this.search("Todo").then(function(data) {
          console.log(data, 666, "UI do thing");
        });

        // this.delObj('Todo', '5e3783e27796d90078b3fcb3')
        ret = await this.search2("Todo");
        console.log(ret);
      },
      async search2(name) {
        var query = new AV.Query(name);
        return new Promise(function(resolve, reject) {
          query.find().then(function(data) {
            resolve(data);
          });
        });
      },
      /* 用户相关 */
      signIn(user) {
        var obj = new AV.User();
        obj.setUsername(user.name);
        obj.setPassword(user.password);
        return obj.signUp();
      },
      signUp(user) {
        return AV.User.logIn(user.name, user.password);
      },
      /* 统一封装的函数共用 */
      createObj(name, data) {
        var Obj = AV.Object.extend(name);
        var obj = new Obj();
        for (var key in data) {
          obj.set(key, data[key]);
        }
        return obj.save();
      },
      updateObj(name, id, data) {
        var obj = AV.Object.createWithoutData(name, id);
        for (var key in data) {
          obj.set(key, data[key]);
        }
        return obj.save();
      },

      search(name, skip, limit) {
        skip = skip || 0;
        limit = limit || 100;
        var query = new AV.Query(name);
        query.skip(skip); // 第一次跳过0 个 第二次跳过10个  (i -1) *10
        query.limit(limit); // 默认值100
        return query.find();
      },
      delObj(name, id) {
        var obj = AV.Object.createWithoutData(name, id);
        return obj.destroy();
      },
      async findByCondition(table, col, value) {
        try {
          let query = new AV.Query(table);
          query.equalTo(col, value);
          return new Promise(function(resolve, reject) {
            query.find().then(function(data) {
              resolve(data);
            });
          });

          return list;
        } catch (error) {
          console.error(error);
        }
      }
    };

    /*

       */
    new Vue({
      el: "#app",
      data: function() {
        return {
          activeName: "first",
          item: {
            uid: 0,
            username: "admin",
            key: "admin",
            open: 0
          },
          value: {
            keyid: "",
            value: "test"
          },
          isNew: true,
          id: "",
          tableData: [{}],
          visible: false
        };
      },
      methods: {
        newImg() {},
        save() {
          var _this = this;
          if (this.isNew) {
            // 先查询是否有这个key 没

            UI.findByCondition("kvATM", "key", this.item.key).then(function(
              data
            ) {
              if (data.length > 0) {
                _this.$message("有这个关键词");
                return;
              }
              var item = UI.createObj("kvATM", _this.item);
              setTimeout(() => {
                UI.findByCondition("kvATM", "key", _this.item.key).then(
                  function(data) {
                    _this.$message("保存成功");
                    console.log(data);
                    console.log(data[0].id);
                    _this.value.keyid = data[0].id;
                    UI.createObj("kvATM_value", _this.value);
                  }
                );
              }, 3 * 1000);
            });
          } else {
            UI.updateObj("story", this.id, this.item);
            var item = UI.createObj("kvATM", this.item);
            console.log(item);
            console.log(item._result);
          }
        },
        test() {
          console.log("test", this.value);
        },
        handleEdit(index, row) {
          console.log(index, row);
          this.activeName = "first";
          this.item = row.attributes;
          this.isNew = false;
          this.id = row.id;
        },
        handleDelete(index, row) {
          console.log(index, row, row.id);
          // var res = UI.delObj("kvATM", row.id);
          // console.log(res);
          UI.delObj("kvATM", row.id).then(function(data) {
            console.log(data);
          });
          this.tableData.splice(index, 1);
        },
        newImg1() {}
      },
      mounted() {
        console.log(UI);
        var _this = this;
        UI.search("kvATM").then(function(data) {
          console.log(data);
          _this.tableData = data;
        });
      }
    });
    /*
    测试模式 加载页面
    */
    setTimeout(() => {
      console.log("页面要加载");
      // location.reload();
    }, 10 * 1000);

    /*
    分页相关
    query.Limit (10);
     skip
    UI.search('story',0,1).then(function(data){
            console.log(data)
           })
           UI.search('story',1,1).then(function(data){
            console.log(data)
           })

    */

    /*
    本项目启发,微信公众号的消息自动回复就是一个key-value 映射表
    相比较于记事本以及博客查看记录的方法,这个方式比较互动化。

    表设计

    keyItem 表  将来是要唯一的 给每个用户默认一个 username  目录映射表
    id uid username key open
    valueItem表
    id keyid value

    */
  </script>
</html>
